{% extends 'baseGateway.html' %}

{% block content %}

<h1 class="h4 mb-3 mt-3 fw-normal text-white">Please login</h1>

<div class="form-floating">
    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
    <label for="inputUsername">Username</label>
</div>

<div class="form-floating">
    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Password">
    <label for="inputConfirmPassword">Password</label>
</div>

<button id="buttonLogin" class="w-100 btn btn-lg btn-primary">Login</button>

<button id="buttonLoginLoading" class="w-100 btn btn-lg btn-primary disabled" style="display:none">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
</button>

<a id="buttonRegister" href="/register" class="w-100 btn btn-sm btn-info mt-2">Register</a>

<p id="forgotPass" class="mt-3"><a class="text-decoration-none text-white" href="/">Forgot your
        password?</a></p>

<!-- Custom JS -->
<script src="{{ url_for('static',filename='js/login.js') }}"></script>

{% endblock %}
